<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
 
  <p>
    Splurty is an application built by <a target="_blank" href="https://github.com/durbdawg">Nick.</a> An aspiring web developer.
  </p>
  
  <br />

  <p>
    This particular app was designed with the idea that movies are an important leisure and past time in the world. The moments captured in movies can help to define our purpose as individuals. Splurty is a fun way to share your favorite lines from your favorite movie.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Nick Durbin</h2>
    <br />
    <p>
    Nick started creating web applications during his time at <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project</a> school. He used his time to develop the skills necessary to build applications he hopes will one day better the world.
    </p>
  </div>
</div>

<br class="clear" />

<div class="row">
  <div class="col-12 col-sm-4" style="padding-top:30px;">
    <%= image_tag 'bg.jpg', class: 'img-fluid' %>
  </div>
  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Blogging In My 30s</h2>
    <br />
    <p>
    If you would like to learn more about Nick and read about his journey coding, then please visit his blog <a target="_blank" href="http://www.blogginginmy30s.com">Blogginginmy30s.</a>
    </p>
  </div>
</div>

</div>

<br class="clear"/>
<br />
<br />
<br />
<br />